<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Drop Select</h5>
        </div>
        <div class="card-body">
            <div class="col-md-12 mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" id="countySel" size="1" (change)="onChangecountry($event.target.value)">
                            <option value="" selected="selected">-- Select Country --</option>
                            <option *ngFor="let country of drop ; let i = index" [value]="country">{{country}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="stateSel" size="1" (change)="onChangestate($event.target.value)">
                            <option value="" selected="selected">-- Select State--</option>
                            <option *ngFor="let states of state ; let i = index" [value]="states">{{states}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="citySel" size="1">
                            <option value="" selected="selected">-- Select district--</option>
                            <option *ngFor="let districts of district ; let i = index" [value]="districts.district_name">{{districts.district_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <button class="btn btn-danger offset-md-6"> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>